<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
        <button class="btn btn-primary" (click)="reloadServerPage()">Reload Server Page</button>
        <a
        [routerLink]="['/servers',server.id]" 
        [queryParams]="{allowToEdit:'1',allowTest:'2'}"
        fragment="loadPage"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }} : Load Single Server
      </a>
      <a
        [routerLink]="['/servers',5,'edit']" 
        [queryParams]="{allowToEdit:'1',allowTest:'2'}"
        fragment="loadPage"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">  
    <app-edit-server></app-edit-server>
    <hr>
    <app-server></app-server>
  </div>
</div>

